<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF -8">
        <title>Contactos</title>
        <link rel="stylesheet" type="text/css" href="contacto.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <section class="content">
        <h2>Contactos</h2>
        <div id="banner"></div>
    </section>
    <section class="cuerpo">
        <div class="form-flex">
            <h2 >Ponte en contacto con nosotros</h2>
            <h3 >a traves de la web:</h3>
            <form class="formulario">
                <div class="form-section">
                <input class="forminput" type="text" required="" placeholder="Escribe tu Nombre">
                </div>
                <div class="form-section">
                <input class="forminput" type="email" required="" placeholder="Escribe tu correo electronico">
                </div>
                <div class="form-section">
                <textarea class="forminput"  placeholder="Escribe tu mensaje"></textarea>
                </div>
                <input class="enviar" type="submit">
            </form>
        </div>
        <div class="medios">
            <br><br>
            <h3>Por los medios de contactos:</h3><br>
            <ul class="lista">
                <li><a class="enlace" href="https://www.facebook.com/La-Casita-Del-Arbol-Ayala-490299887977840/">
                “La Casita del Árbol Ayala”</a></li><br><br>
                <li>ernestoayala444@gmail.com</li><br><br>
                <li>Barrio 29 de agosto,Resistencia, Chaco</li>
            </ul>
        </div>
    </section>
    </body>


</html>